<link href="/vendor/full-calendar/fullcalendar.min.css" rel="stylesheet">
<link href="/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="/vendor/full-calendar/moment.min.js"></script>
<script src="/vendor/full-calendar/fullcalendar.min.js"></script>



<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">${placeName} 借用情况</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="alert alert-success" role="alert">
            1. 点击日历图中的空白处填写借用信息<br><br>
            2. 蓝色块状表示已经被借用的时间段<br><br>
            3. 点击日历图的左上角，切换 < 月, 周, 日 >
        </div>
    </div>

    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">日历图</h3>
            </div>
            <div class="panel-body">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" id="inputForm">
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            defaultview: 'agenda',
            header: {
                left: 'month,agendaWeek,agendaDay',
                center: 'title',
                right: 'today, prev, next'
            },
            monthNames: ["一月", "二月", "三月", "四月", 　//设置月份名称，中英文均可
                "五月", "六月", "七月", "八月", "九月",
                "十月", "十一月", "十二月"
            ],
            monthNamesShort: ["一月", "二月", "三月", 　　//设置月份的简称
                "四月", "五月", "六月", "七月", "八月",
                "九月", "十月", "十一月", "十二月"
            ],
            dayNames: ["周日", "周一", "周二", "周三", 　　//设置星期名称
                "周四", "周五", "周六"
            ],
            dayNamesShort: ["周日", "周一", "周二", 　　　　//设置星期简称
                "周三", "周四", "周五", "周六"
            ],
            today: ["今天"], 　　　　　　　　　　　　　　　　//today 按钮的显示名称
            firstDay: 0, 　　　　　　　　　　　　　　　　　　//设置每星期的第一天是星期几，0 是星期日
            buttonText: { 　　　　　　　　　　　　　　　　　//设置按钮文本
                today: '今天',
                month: '月',
                week: '周',
                day: '日',
                prev: '<<',
                next: '>>'
            },
            allDaySlot: false,
            dayClick: function (date, allDay, jsEvent, view) {
                $("#inputForm").load(
                        "/reservations/model?placename=$placeName",
                        function () {
                            $("#myModal").modal("toggle");
                        }
                );
            },
            eventClick: function () {

            },
            //获取event数据
            events: {
                url: '/reservations',
                type: 'GET',
                data: {
                    placename: '$placeName'
                },
                error: function () {
                    alert('there was an error while fetching events!!!!!!!!');
                },
                color: 'light blue',
                textColor: 'black'
            },
            //设置event显示为24小时制
            timeFormat: 'H(:mm)'
        })

    });

    function saveReservation() {
//        var placeName = $("#placeName").val();
//        var applicant = $("#applicant").val();
//        var startTime = $("#startTime").val();
//        var endTime = $("#endTime").val();
//        var title = $("#title").val();
//        var userName = $("#userName").val();
//        var mobile = $("#mobile").val();
        $.ajax({
            url: '/reservations',
            type: 'POST',
            cache: false,
            dataType: 'json',
            data: $("#submitForm").serialize(),
            success: function (data) {
                if (data.success) {
                    alert(data.successMsg);
                    window.location.reload();
                } else {
                    alert(data.errorMsg);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("发生错误,请稍后重试");
            }
        });
    }
</script>

